@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ClampMate Inc.</h1>
    <p>We are the worlds #1 Clamp Brand.</p>
    <img src="@Url.Content("~/Images/ClampMate_Logo.png")" alt="ClampMate Logo" class="clampMate-logo" />
</div>
